[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyjwt = "*"
sanic = "*"
motor = "*"
aiomysql = "*"
aiosmtplib = "*"
sanic-limiter = "*"
black = "*"

[dev-packages]
pycodestyle = "*"
pytest-cov = "*"
sanic-openapi = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.7"
